
  <%= form_with(model: security_type, local: true) do |form| %>
    <% if security_type.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(security_type.errors.count, "error") %> prohibited this security_type from being saved:</h2>

        <ul>
          <% security_type.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field d-flex">
      <div class="col-md-3 float-left">
       <%= form.label :issuer_name%>
      </div>
      <div class="col-md-6 float-left">
        <%= form.collection_select :issuer_id, Issuer.all, :id, :name, {:include_blank=> "Select Issuer Name"}, :class=> "ml-3 pl-2 pr-2 input-width"%>
      </div>
    </div>

    <div class="field d-flex">
      <div class="col-md-3 float-left">
        <%= form.label :security_type_name %>
      </div>
      <div class="col-md-6 float-left">
        <%= form.text_field :security_type_name, placeholder: "Enter Issuer Name", :class=> "ml-3 pl-2 pr-2 input-width" %>
      </div>
    </div>

    <div class="actions">
      <div class="col-12 float-left">
        <%= form.submit "Save", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
