
<!-- <div class="d-flex row mt-3">
  <div class="d-analysis col-2 float-left">
      <label>By Name / ISIN</label>
      <input type="text" class="w-100" alt="" id="isin-selected"/>
  </div>
</div> -->

<table class="table table-bordered mt-3">
  <thead>
  <tr>
      <th scope="col">Sl. No.</th>
      <th scope="col">ISIN</th>
      <th scope="col">Nomenclature</th>
      <th scope="col">Date of Issue</th>
      <th scope="col">Date of Maturity</th>
      <th scope="col">Trade Price</th>
      <th scope="col">Interest %</th>
      <th scope="col">YTM %</th>
      <th scope="col">Select</th>
  </tr>
  </thead>
  <tbody>
    <% index = 0%>
  <% table_datas.each do |value|%>
    <tr class="port-folio-inner-row-<%= index+=1%>">
      <th scope="row" class=""><%= index%></th>
      <td class="port-folio-inner-isin" value="<%= value.isin %>"><%= value.isin%></td>
      <td class="port-folio-inner-nomenclature" value="6.7% GS 2030">6.7% GS 2030</td>
      <td class="port-folio-inner-issue-dt" value="<%= value.issue_date %>"><%= value.issue_date %></td>
      <td class="port-folio-inner-mature-dt" value="<%= value.maturity_date %>"><%= value.maturity_date %></td>
      <td class="port-folio-inner-trade-price" value="<%=value.trade_price %>"><%= value.trade_price %></td>
      <td class="port-folio-inner-freq" value="<%= value.frequency %>"><%= value.frequency %></td>
      <td class="port-folio-inner-ytm" value="<%= value.ytm %>"><%=value.ytm %></td>
      <td class="port-folio-inner-select-td"><label class="btn btn-color">
        <input type="checkbox" name="port-folio-check" class="port-folio-inner-select" id="c-hidden" value="<%= index%>"/> Select
      </label></td>
    </tr>
  <% end %>
    </tbody>
</table>

