<table class="table table-bordered mt-3">
  <thead>
  <tr>
      <th scope="col">Sl. No.</th>
      <th scope="col">ISIN</th>
      <th scope="col">Nomenclature</th>
      <th scope="col">Date of Issue</th>
      <th scope="col">Date of Maturity</th>
      <th scope="col">Trade Price</th>
      <th scope="col">Interest %</th>
      <th scope="col">YTM %</th>
      <th scope="col">Select</th>
  </tr>
  </thead>
  <tbody>
    <% index = 0%>
  <% table_datas.each do |key, value|%>
    <tr class="analyse-inner-row-<%= index+=1%>">
      <th scope="row" class=""><%= index%></th>
      <td class="analyse-inner-isin" value="<%= value[0] %>"><%= value[0] %></td>
      <td class="analyse-inner-nomenclature" value="value[1]"><%=value[1]%></td>
      <td class="analyse-inner-issue-dt" value="<%= value[2] %>"><%= value[2] %></td>
      <td class="analyse-inner-mature-dt" value="<%= value[3] %>"><%= value[3] %></td>
      <td class="analyse-inner-trade-price" value="<%= value[4] %>"><%= value[4] %></td>
      <td class="analyse-inner-freq" value="<%= value[5] %>"><%= value[5] %></td>
      <td class="analyse-inner-ytm" value="<%= value[6] %>"><%=value[6] %></td>
      <td class="analyse-inner-select-td"><label class="btn btn-color">
        <input type="checkbox" name="plot-to-graph" class="analyse-inner-select" id="c-hidden" value="<%= index%>"/> Select
      </label></td>
    </tr>
  <% end %>
    </tbody>
</table>

