<table class="table table-bordered mt-3">
    <thead>
    <tr>
        <th scope="col">Sl. No.</th>
        <th scope="col">ISIN</th>
        <th scope="col">Nomenclature</th>
        <th scope="col">Date of Issue</th>
        <th scope="col">Date of Maturity</th>
        <th scope="col">Interest %</th>
        <th scope="col">YTM %</th>
        <th scope="col">Select</th>
        <th scope="col" class="hidden">security-id</th>
        <th scope="col" class="hidden">archv-id</th>
    </tr>
    </thead>
    <tbody>
    <% table_datas.each_with_index do |data, index|%>
      <tr class="analyse-row-<%= index+1%>">
        <th scope="row" class=""><%= index + 1 %></th>
        <td class="analyse-isin" value="<%= data.isin %>"><%= data.isin %></td>
        <td class="analyse-nomenclature" value="6.7% GS 2030">6.7% GS 2030</td>
        <td class="analyse-issue-dt" value="<%= data.issue_date %>"><%= data.issue_date %></td>
        <td class="analyse-mature-dt" value="<%= data.maturity_date %>"><%= data.maturity_date %></td>
        <td class="analyse-freq" value="<%= data.frequency %>"><%= data.frequency %></td>
        <td class="analyse-ytm" value="<%= data.ytm %>"><%= data.ytm %></td>
        <td class="analyse-select-td"><input type="checkbox" name="plot-to-graph" class="analyse-select" value="<%= index+1%>" /></td>
        <td class="analyse-ytm hidden"><%= data.id %></td>
        <td class="analyse-ytm hidden"><%= data.a_id %></td>
      </tr>
    <% end %>
    </tbody>
</table>


<style type="text/css">
    .hidden{
        display: none;
    }
</style>
