
<div class="container">
	<p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>
	<h2 class="mt-5 mb-3">General Settings</h2>
	<div>
		<div class="col-md-2 float-left"><%= button_to "Settings", home_settings_path, :class => "btn btn-modify", :method => :get %></div>
		<div class="col-md-2 float-left"><%= button_to "Add States", new_state_path, :class => "btn btn-modify", :method => :get %></div>
		<div class="col-md-2 float-left"><%= button_to "Add Towns", new_town_path, :class => "btn btn-modify", :method => :get %></div>
		<div class="col-md-2 float-left"><%= button_to "Add Security", new_security_path, :class => "btn btn-modify", :method => :get %></div>
		<div class="col-md-2 float-left"><%= button_to "Upload Trade Data", home_upload_trade_data_path, :class => "col-md-2 btn btn-modify", :method => :get  %></div>
		<div class="col-md-2 float-left"><%= button_to "Analyze", analyze_index_path, :class => "btn btn-modify", :method => :get%></div>
	</div>
</div>
