<%= form_with(model: rating, validates: true, local: true) do |form| %>

  <div class="field d-flex">
    <div class="col-md-3 float-left">
     <%= form.label :rating_agency%>
    </div>
    <div class="col-md-6 float-left">
      <%= form.collection_select :rating_agency_id, RatingAgency.all, :id, :rating_agency_name, {:include_blank=> "Select Rating Agency Name"}, :class=> "ml-3 pl-2 pr-2 input-width"%>
    </div>
  </div>

  <div class="field d-flex">
    <div class="col-md-3 float-left">
      <%= form.label :rating %>
    </div>
    <div class="col-md-6 float-left">
      <%= form.text_field :rating, :class=> "ml-3 pl-2 pr-2 input-width"%>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary m-top" %>
  </div>
<% end %>
