<p id="notice"><%= notice %></p>

<h1>Archival Ndsoms</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @archival_ndsoms.each do |archival_ndsom| %>
      <tr>
        <td><%= link_to 'Show', archival_ndsom %></td>
        <td><%= link_to 'Edit', edit_archival_ndsom_path(archival_ndsom) %></td>
        <td><%= link_to 'Destroy', archival_ndsom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Archival Ndsom', new_archival_ndsom_path %>
