<%= form_with(model: town, validates: true, local: true) do |form| %>
  <div class="field d-flex">
    <div class="col-md-3 float-left">
     <%= form.label :state_name%>
    </div>
    <div class="col-md-6 float-left">
      <%= form.collection_select :state_id, State.all, :id, :state_name, {:include_blank=> "Select State"}, :class=> "ml-3 pl-2 pr-2 input-width"%>
    </div>
  </div>


  <div class="field d-flex">
    <div class="col-md-3 float-left">
      <%= form.label :town_name %>
    </div>
    <div class="col-md-6 float-left">
      <%= form.text_field :town_name, :class=> "ml-3 pl-2 pr-2 input-width" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
